playwright 
requests
webdriver-manager
langchain
langchain-core
langchain-community
langchain-groq
jq
faiss-cpu
chromadb
python-dotenv
sentence_transformers
transformers
scikit-learn
flask
APScheduler